/*Global
    Fonts:
        Light: 300 "Open-sans",sans-serif;
        Regular: 400 "Open-sans", sans-serif;
        Smei-Bold: 600 "Open-sans", sans-serif;
        Bold: 700 "Open-sans", sans-serif;
        Extra Bold: 800 "Open-sans". sans-serif;
*/

@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'texgyreadventorbold';
    src: url('../fonts/texgyreadventor-bold-webfont.eot');
    src: url('../fonts/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {font-family: "texgyreadventorregular", Helvetica, sans-serif !important;}

p {font: 400 "Open-sans", sans-serif; color: #fff;}

nav {
    display: block;
}

/*NAVIGATION*/
.navigation-container {
    z-index: 4;
    width: 100%;
    opacity: 0.98;
    position: fixed;
    top: 0px;
    margin: auto;
    transition: all 0.25s ease 0s;
    border-bottom: 1px solid transparent;
    background: #fff;
}
.top-bar {
    overflow: visible;
    height: 55px;
    line-height: 1px;
    position: relative;
}
#navigation .navigation-container .top-bar {
    background: transparent;
    max-width: 65.5rem;
    margin: 0px auto;
}
.top-bar .right {
    padding-top: 22px;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    line-height: 1; 
}
/*logo display*/
#navigation .navigation-container .name img {
    width: 200px;
    transition: all 00.25s ease 0s;
}
.top-bar .title-area {
    float: left;
    position: relative;
    margin: 8px 0px 0px;
}
/*navigation transparency*/
.navigation-container .top-bar-section ul li,
.navigation-container .top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
}


/*navigation text*/
.top-bar .top-bar-section ul li > a {
    color: #000;
    text-transform: uppercase;
    font-weight: bold; 
    font: 700 "Open-sans", sans-serif;
}
.top-bar .top-bar-section ul li > a:hover {
    color: #8DC73F;
    transition: all 0.25s ease 0s;
}
.navigation-container .forward-slash {
    line-height: 1;
    color: #000;
}
.top-bar-section .right li a.nav-btn {
    display: inline-block;
    width: 140px;
    height: 31px;
    background-color: #8DC73F !important;
    border-radius: 3px;
    color: #FFF;
    text-align: center;
    line-height: 31px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    bottom: 10px;
    box-shadow: 0px 3px 0px #68962B;
	margin-right: 10px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.top-bar-section .right li a.nav-btn:hover {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    bottom: 5px;
    color: #fff;
}

/*HEADER*/

header .title-section {
    display: block;
    opacity: 1;
/*    transform: translate(0%, 0%);*/
    text-align: center;
	z-index:3;
}

header .headline1 {
    text-transform: uppercase;
    color: #FFF;
    padding: 5px;
    font-size: 62px;
    margin-bottom: -25px;
}
header .headline2 {
    text-transform: uppercase;
    color: #FFF;
    padding: 5px;
    font-size: 42px;
    letter-spacing: 0.3rem;
    margin-top: 0px;
}

.headline1 h1 {
    font-family: "texgyreadventorregular"
}

.headline1 span  {
    font-family: "texgyreadventorbold", Helvetica, sans-serif !important;
}
.absolute-centered {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 100%;
    height: 30%;
    position: absolute;
}
.hero-description {
    margin: auto;
    width: 870px;
    background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
}
.hero-sub-description h2, h3 {
    color: #fff;
    text-transform: uppercase;
}
.hero-sub-description h2 {
    font-size: 21px;
    font-family: "texgyreadventorbold", Helvetica, sans-serif !important;
    color: #000;
    margin-bottom: 0px;

} 
.hero-sub-description h3 {
    font-size: 16px;
    font-family: "open-sans",sans-serif !important;
    font-style: normal;
    font-weight: 300;
    color: #000;
}
.hero-sub-description {
    /* float: left; */
	display: inline-block;
    margin: 5px 5px 5px 5px;
}
.hero-description span.plus {
    position: relative;
    top: -28px;
    color: #000;
}


/*SIGN UP BUTTON*/
.video-container a.sign-up-button span {   
    display: inline-block;
    margin: 50px;
    box-shadow: none;
    border-radius: 0px;
    width: 340px;
    font-size: 16px;
    line-height: 1;
    padding: 10px 10px;
    border: 5px solid rgb(141, 199, 63);
    -webkit-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    background: transparent repeat scroll 0% 0% #ccc;
     -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    letter-spacing: 0.25em;
}
.video-container a.sign-up-button span:hover {
    border-color: rgb(102, 102, 102);
    background-color: rgb(102, 102, 102);
}


/*VIDEO BACKGROUND*/

video {
    display: inline-block;
    vertical-align: baseline;
}

.video-container {
    position: relative;
    background: #FFF none repeat scroll 0% 0%;
    text-align: center;
    overflow: hidden;
    height: 100%;
}
.video_full_width {
    transition: all 0.25s ease 0s;
    min-width: 100%;
    min-height: 100%;
    margin-left: 0px;
    margin-bottom: -3px;
}
.video-container:before {
    content: "";
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin-left: 0px;
    margin-bottom: -3px;
    background: rgba(0, 0, 0, 0.65);
}

/*IMAGE BACKGROUND*/

.image-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100%;
}
.image_full_width {
    transition: all 0.25s ease 0s;
    min-width: 100%;
    min-height: 100px;
    margin-bottom: -3px;
	color: #FFF;
	background-image: url('../img/my_collective.jpg');
}
.image_full_width:before {
    content: "";
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: -3px;
    background: rgba(0, 0, 0, 0.65);
	left:0;
	right:0;
	bottom:0;
	top:0;
}
/*.overlay{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: -3px;
    background: rgba(0, 0, 0, 0.65);
	z-index:2;
}*/

.image-container a.sign-up-button span {   
    display: inline-block;
    box-shadow: none;
    border-radius: 0px;
    width: 270px;
    font-size: 12px;
    line-height: 1;
    background: transparent repeat scroll 0% 0% #ccc;
     -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    letter-spacing: 0.25em;
    background: #8dc73f;
    font-weight: bold;
    margin-top: 117px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

.image-container a.sign-up-button span:hover {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}
.image-container p {
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 17px;
}
/*Footer Navigation*/
.bottom-bar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);    
}

.bottom-bar-section .left li {
    display: inline-block;
} 

.left span.social-header,
.left span a.contact-us {
    position: relative;
    top: 10px;
}
.left span.social-header,
.left span a.contact-us {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #8d8d8d;
}
.left li a.social img {
    width: 25px;
    margin-top: 15px;
    margin-right: 5px;
}

/*Mobile Navigation*/
.tab-bar {
    background: #FFF none repeat scroll 0% 0%;
    height: 5rem;
    line-height: 5rem;
    position: relative;
}

.tab-bar-section.middle {
    left: 5rem;
    right: 5rem;
}
.tab-bar-section {
    padding: 0px 0.625rem;
    position: absolute;
    text-align: center;
    height: 5rem;
    top: 0px;
}
.off-canvas-wrap .middle img {
    width: 7.8rem;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.right-small {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 0px;
    border-left: 1px solid #CFCFCF;
    right: 0px;
    display: block;
}
.tab-bar .menu-icon span::after {
    content: "";
    position: absolute;
    display: block;
    height: 0px;
    top: 2.625rem;
    left: 2rem;
    box-shadow: 0px 0px 0px 1px #333132, 0px 7px 0px 1px #333132, 0px 14px 0px 1px #333132;
    width: 1rem;
}
.right-off-canvas-menu {
    background: #212121 none repeat scroll 0% 0%;
}
ul.off-canvas-list li a{
    display: block;
    padding: 0.66667rem;
    color: #FFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    transition: #6363CE 300ms ease 0s;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.2rem;
    margin-left: 10px;  
}
ul.off-canvas-list li a:hover {
    color: #fff;
}

/* Responsive
-------------------------------------------------------------- */

/* Widescreen [[ Blue ]] */
@media only screen and (min-width: 1280px)  {

}
/* Small Desktops [[ Brown ]] */
@media only screen and (min-width: 960px) and (max-width: 1280px) {
  .image_full_width {background:url(../img/my_collective.jpg);
                 background-repeat:no-repeat;
                 background-size:cover;
                 background-position:center center;
                 height:670px;
    }
                         
    header .headline1 {
        font-size: 49px;
    }
    header .headline2 {
        font-size: 41px;
        padding-top: 10px;
    }
    .image-container p {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .title-section {
        margin-top: 18%;
    }

    .image-container a.sign-up-button span {
        margin-top: 78px;
        padding: 9px 10px;
        font-size: 15px;
        width: 309px;
    }
}
/* Tablet (Portrait) [[ Yellow ]] */
@media only screen and (min-width: 768px) and (max-width: 959px) {
   .image_full_width {background:url(../img/my_collective.jpg);
                 background-repeat:no-repeat;
                 background-size:cover;
                 background-position:center center;
                 height:670px;
    }
                         
    header .headline1 {
        font-size: 49px;
    }
    header .headline2 {
        font-size: 41px;
        padding-top: 10px;
    }
    .image-container p {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .title-section {
        /*margin-top: 15%;*/
    }

    .image-container a.sign-up-button span {
        margin-top: 78px;
        padding: 9px 10px;
        font-size: 15px;
        width: 309px;
    }

}
/* Mobile Universal [[ Orange Border ]] */
@media only screen and (max-width: 767px) {
   
}
/* Mobile (Landscape) [[ Pink ]] */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   .image_full_width {background:url(../img/my_collective.jpg);
                 background-repeat:no-repeat;
                 background-size:cover;
                 background-position:center center;
                 height:670px;
    }
                         
    header .headline1 {
        font-size: 35px;
    }
    header .headline2 {
        font-size: 27px;
        padding-top: 17px;
    }
    .image-container p {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .title-section {
        margin-top: 15%;
    }

   
}
/* Mobile (Landscape - Large Mobile, iPhone 5, etc.) [[ Purple ]] */
@media only screen and (min-width: 640px) and (max-width: 767px) {    
    .image_full_width {background:url(../img/my_collective.jpg);
                 background-repeat:no-repeat;
                 background-size:cover;
                 background-position:center center;
                 height:670px;
    }
                         
    header .headline1 {
        font-size: 35px;
    }
    header .headline2 {
        font-size: 27px;
        padding-top: 17px;
    }
    .image-container p {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .title-section {
        margin-top: 15%;
    }

}
/* Mobile (Portrait) [[ Gray ]] */
@media only screen and (min-width: 320px) and (max-width: 479px) {
   .image_full_width {
        background:url(../img/my_collective.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        height:670px;
    }
                         
    header .headline1 {
        font-size: 20px;
    }
    header .headline2 {
        font-size: 18px;
        padding-top: 18px;
        letter-spacing: 0.1rem;
    }
    .image-container p {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
    .title-section {
        margin-top: 29%;
    }
    .absolute-centered {
        margin: none;
    }


}


